.list-cell {
    -fx-padding: 12px;
    -fx-font-size: 24px;
    -fx-font-family: "Comic Sans MS";
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: #fafafa;
    -fx-border-color: #dddddd;
}
